body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    background-image: url("https://motionarray.imgix.net/preview-128704-ziC6xHGwhm-high_0003.jpg?w=660&q=60&fit=max&auto=format");
    background-size: cover;
    height:100vh
}


.stopwatch {
    background-color: #e7f3fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.time {
    font-size: 3em;
    margin-bottom: 20px;
}

.buttons button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #0056b3;
}

.laps {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    max-height: 200px;
    overflow-y: auto;
}

.laps li {
    padding: 5px;
    border-bottom: 1px solid #ccc;
}
